Header add Strict-Transport-Security "max-age=31536000; includeSubDomains;"
Header add Content-Security-Policy "default-src 'none'; img-src 'self'; script-src 'self'; style-src 'self' 'unsafe-inline'; connect-src 'self'; frame-ancestors 'none'; base-uri 'self'; form-action 'none';"
Header add Permissions-Policy "interest-cohort=()"

ErrorDocument 404 /404.html
