Header add Permissions-Policy "interest-cohort=()"
Header add Content-Security-Policy "default-src 'none'; img-src 'self'; script-src 'self' 'unsafe-inline'; style-src 'self' 'unsafe-inline'; connect-src 'self'; frame-ancestors 'none'; base-uri 'self'; form-action 'none';"

ErrorDocument 404 /404.html
